.App {
  background-color: #fcf4d9;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content auto auto;
  margin: auto;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.5em;
  line-height: 1.1;
  color: #f67280;
  text-align: center;
}

.articles {
  list-style-type: none;
  background-color: #f8b595;
  border-radius: 7em;
  padding: 1.5em;
}
.comments {
  list-style-type: none;
  background-color: #f8b595;
  border-radius: 5em;
  padding: 1.5em;
}
.author {
  font-size: large;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
}

.votes {
  font-size: large;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
}
.voteButton {
  padding: 10px;
  border-radius: 20px;
}
.date {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
}
.image {
  width: 30rem;
}

.username_images {
  width: 3rem;
}

.dropdown {
  padding: 5px;
  border-radius: 10px;
}

.sortby {
  padding: 5px;
  border-radius: 10px;
}

.order {
  padding: 5px;
  border-radius: 10px;
}
.delete {
  padding: 2px;
  border-radius: 10px;
}
